.mydiv{
        
        position:absolute;
        top: 70%;
        left: 55%;
        margin-top: -25%; /*set to a negative number 1/2 of your height*/
        margin-left: -12.5%; /*set to a negative number 1/2 of your width*/
        width: 30%
      
      }

      .mydiv1{
        
        position:absolute;
        top: 75%;
        left: 50%;
        margin-top: -25%; /*set to a negative number 1/2 of your height*/
        margin-left: -14%; /*set to a negative number 1/2 of your width*/
        width: 60%;
        height: 40%;
      
      }