.hliststyle{
    padding:5vh;
    position:relative;
    display: flex;
   flex-wrap: wrap;
   

}
.hstyle{
   /* height: 100%;
   width: 50%;
   position: fixed;
   left:0; */
   padding:0.5vh;
   padding-left: 1vh;
   padding-bottom: 3vh;
  
}

.split {
   height: 100%;
   width: 50%;
   position: fixed;
   z-index: 1;
   top: 0;
   overflow-x: hidden;
   padding-top: 20px;
 }
 
 /* Control the left side */
 .left {
   left: 0;
   background-color: #111;
 }
 
 /* Control the right side */
 .right {
   right: 0;
   background-color: red;
 }
 

.imgcard{
   height:19vh;
}