.mydiv{
   
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -18%; /*set to a negative number 1/2 of your height*/
    margin-left: -12.5%; /*set to a negative number 1/2 of your width*/
    min-height:100vh;
    max-height: auto;
  

}

/* .pink-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink-textarea.md-form label.active {
    color: #f48fb1;
} */
