.article-container {

    display: flex;
    flex-wrap: wrap;
}

.article{
    flex: 0 0 50%;
    padding: 10px;
}

.img{
    min-height:100vh;
    max-height: auto;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

   .homeb {
    background-image: url("./bg1.jpeg");
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    position: relative;
    min-height:100vh;
    max-height: auto;
    background-attachment: scroll;
  } 
  

